body{
    display: grid;
    grid-template: 
            "a a"
            "b c" 
            "b c"
            "d d";
    background-color: rgb(8, 61, 57);
}

.header{
    display: flex;
    flex-direction: row;
    grid-area: a;
    margin-bottom: 1em;
    border: solid 1px black;
    /*Free stockphoto from https://www.pexels.com/nb-no/bilde/take-takete-skrivebordsbakgrunn-dal-7919/ */
    background-image: url("pexels-life-of-pix-7919.jpg"); 
    background-size: cover;
}

.headline{
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: black;
}

.logo{
    display: flex;
    align-self: center;
    justify-content: center;
}

.menu{
    grid-area: b;
    background-color: #8ab8b4;
    border: solid  1px black;
    margin-right: 2em;
    margin-bottom: 1em;
    padding-right: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.buttons{
    margin-left: 2em;
    border-color: rgb(8, 61, 57);
    width: 80%;
}

#colorchangingbutton {
    border-color: red;
}

.clicks {
    margin-left: 2em;
}

.contents{
    grid-area: c;
}

.footer{
    grid-area: d;
    margin-top: 4em;
    border: solid 1px black;
    background-color: #8ab8b4;
}

.block{
    border: solid 1px black;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #8ab8b4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    height: auto;
    resize: horizontal;
}

@media (max-width: 481px) {
    body{
        grid-template: 
            "a"
            "b" 
            "c"
            "d";
    }

    .buttons {
        width: 130px;
    }

    .menu{
        margin-right: 0em;
    }
}